body {
    background-color: rgb(240,240,240);
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-align: center
}
.one-third{
    width:33.3%;
}
.one-half{
    width:50%;
}
.row {
    display: flex;
}
.four.columns {
    width:40%
}
.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.header{
    justify-content: space-around;
    flex: 1 1 50px;
}
.mini_container {
    border-radius: 5px;
    background-color: rgb(249,249,249);
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
    justify-content: space-around;
    flex: 1 1 50px;
}

.pretty_container {
    border-radius: 5px;
    background-color: rgb(249,249,249);
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.container-display {
    flex-wrap: wrap;
}

.date-slider{
    padding: 2em 2em;
}

#plotly-image{
    height: 60px;
    width: auto;
    float: left;
    padding: 10px 20px;
    margin: 20px 10px;
}

#learn-more-button {
    height: 60px;
    font-size: 15px;
    float: right;
    padding: 10px 20px;
    margin: 20px 10px;
}

.radiobutton-group > label {
    padding: .25em .5em;
    cursor: pointer;
    margin:  .25em 3%;
}

.radiobutton-group > label:hover {
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.2); }

.radiobutton-group > label:active {
    background:lightgrey
    }